body,
html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    height: 100%;
}

h2,
h2,
h3,
h4 {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex-grow: 1;
    padding: 1.5rem;
}

#root {
    height: 100%;
}

:root {
    --main-color: #d30c11;
    --darker-main-color: #800505;
    --light-gray-color: #888;
}